<aside class="two columns">
  <ul>
    <li><a href="/sources/<%= @source.identifier %>/events">Event Data</a></li>
    <li><a href="/sources/<%= @source.identifier %>">Dashboard</a></li>
  </ul>
</aside>
<div class="ten columns">
  <header>
    <div>
      <h1><%= @source.identifier %></h1>
      <hr>
    </div><!--full-->
  </header>

  <main>
    <div class="row">
      <div class="twelve column box">
        <h2>Events Per Hour Count</h2>
        <ul class="events_per_hour">
          <% @source.events_per_hour_count(@event).each do |event| %>
          <li><%= event %></li>
          <% end %>
        </ul>
      </div><!--column-->
    </div><!--row-->

    <div class="row">
      <div class="twelve column box total_events">
        <h2>total events</h2>
        <p class="content"><%= @source.events_count(@event) %></p>
      </div><!--column-->
    </div><!--row-->
  </main>
</div>
