<h1>Hello Url</h1>
<h1><%= @identifier %></h1>

<h1><%= @url.name %></h1>

<h1><%= @url.longest_response_time %></h1>

<h1><%= @url.shortest_response_time %></h1>

<h1><%= @url.average_response_time %></h1>

<h1><%= @url.all_request_types %></h1>

<h1><%= @url.most_popular_referrers %></h1>

<h1><%= @url.most_popular_user_agents %></h1>
